* {
  margin: 0px;
  padding: 0px;
  font-family: "Aref Ruqaa", serif;
}

body {
  width: 1000px;
}

#container {
  display: flex;
  width: 100%;
  min-height: 300vh;
}

#usersSection {
  width: 40%;
  min-height: 300vh;
  text-align: center;
  background-color: #EAF2FF;
}

.sectionTitle {
  border-bottom: 3px black solid;
  padding: 30px;
  background-color: #FFFFFF;
}

.user {
  margin: 20px;
  border-radius: 30px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  background-color: #FFFFFF;
}

.user:hover {
  border: 3px solid orangered;
}

.imgContainer {
  margin: auto;
  width: 100px;
  height: 100px;
  border: black solid 2px;
  border-radius: 50%;
  overflow: hidden;
}

.userProfile {
  border-radius: 50%;
  object-fit: cover;
  transform: scale(1.32);
}

.userSectionProfie {
  width: 100px;
  height: 100px;
}

.userName{
  margin: 10px;
  font-size: 20px;
}

.userEmail {
  margin: -2.5px 7.5px 0 0;
  font-size: 20px;
}

#postsSection {
  width: 60%;
  min-height: 300vh;
  background-color: #F1F8F4;
}

.post {
  margin: 30px;
  border-radius: 7.5px 7.5px 30px 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  background-color: #FFFFFF;
}

.postTitleSection {
  display: flex;
  width: 100%;
  border-bottom: 3px black solid;
  background-color: #FFD6F0;
}

.postTitle {
  width: 80%;
  padding: 20px;
  font-size: 24px;
}

.postImgContainer {
  width: 75px;
  height: 75px;
}

.postProfile {
  width: 75px;
  height: 75px;
}

.postBody {
  font-size: 20px;
  padding: 15px;
}